<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alec.myapplication">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="LOGIN">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home_Screen"
            android:exported="true"
            android:label="HOME"/>
        <activity android:name=".Help_Screen"
            android:label="HELP"/>
        <activity android:name=".MyHealthLogin_Screen"
            android:label="VANDERBILT MYHEALTH LOGIN"/>
        <activity
            android:name=".CurrentStats_Screen"
            android:exported="true"
            android:label="CURRENT STATS">
        </activity>



        <activity
            android:name=".AsthmaTest"
            android:label="ASTHMA CONTROL TEST"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".MedicineCheck"
            android:label="MEDICINE LOG"/>
        <activity android:name=".Settings_Screen"
            android:label="SETTINGS"/>
        <activity android:name=".SignUpScreen"
            android:label="SIGN UP"/>
        <activity android:name=".Peak_Flow_Test_Screen"
            android:label="PEAK FLOW TEST"></activity>
    </application>

</manifest>